name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    
    - name: Install build dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
    
    - name: Build package
      run: python -m build
    
    - name: Check package
      run: twine check dist/*
    
    # Публикация в TestPyPI
    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1.12.3
      with:
        token: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository-url: https://test.pypi.org/legacy/
      if: startsWith(github.ref, 'refs/tags/test-')

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1.12.3
      with:
        token: ${{ secrets.PYPI_API_TOKEN }}
      if: github.event_name == 'release' && github.event.action == 'published'
